# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
coverage_html/
venv/
.tox/
.nox/
.coverage
.coverage.*
.cache
**.env
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.log
.idea/
debug.py